@Html.Partial("_Header")
    <div id="page">
        <section id="header">
            <div id="logobar" class="container">
            </div>
            <div class="container">
                @Html.Partial("_MenuNav")
            </div>
        </section>
        <div id="content-wrapper">
            <section id="content" class="container drop-shadow lifted">

                <div id="content-body" class="row">
                    <div id="content-left" class="span3">
                        @Html.Partial("_MenuLeft")
                    </div>
                    <div id="content-center" class="span7">
                        <div class="page home-page">
                            <div class="page-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                    <div id="content-right" class="span3">
                        @Html.Partial("_MenuRight")
                    </div>
                </div>

            </section>
        </div>
        @Html.Partial("_Footer")
    </div>
@Html.Partial("_EndHead")
