<div class="block block-bordered block-poll">
    <div class="block-title">
        Usuario
    </div>
    <div class="block-body listbox">
        @if (Session["Usuario"] == null)
        {
        <div id="loginmenu" class="row">
            @using (Html.BeginForm("Login", "Cliente", FormMethod.Post))
            {
                <label>Usuario: </label>
                <input type="text" name="txtUsuario" id="usuario" ng-model="cred.usuario" required />
                <label>Password: </label>
                <input type="password" name="txtPassword" id="passwd" ng-model="cred.passwd" required />
                <input type="submit" name="btnLogin" value="Login" class="btn" />
            }
        </div>
        } 

        @if (Session["Usuario"] != null)
        {
            <nav class="nav-list">
                <ul class="level-1">
                    <li class="parent">
                        @Html.ActionLink("Mi Cuenta", "Index", "Cliente")
                    </li>
                    <li class="parent">
                        @Html.ActionLink("Historial Compras", "ShopInfo", "Cliente")
                    </li>
                    <li class="parent">
                        @Html.ActionLink("Mi Cuenta", "Index", "Cliente")
                    </li>
                    <li class="parent">
                        @Html.ActionLink("Mi Cuenta", "Index", "Cliente")
                    </li>
                    <li class="parent">
                        @Html.ActionLink("Mi Cuenta", "Index", "Cliente")
                    </li>
                    <li class="parent">
                        @Html.ActionLink("Salir", "Logout", "Cliente")
                    </li>
                </ul>
            </nav>
        }

    </div>
</div>