@model AppWeb.ShopWS.TCliente

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_ShopList.cshtml";
}
<div ng-controller="CarritoController">
    <div class="page checkout-confirm-page">
        <div class="page-title">
            <h1>Confirmar</h1>
        </div>
        <div class="page-body checkout-data">
            <div class="order-summary-body">
                <div class="order-summary-content">
                    <div class="order-review-data-box">
                        <div class="row-fluid">
                            <div class="billinginfo span6">
                                <div class="block block-bordered">
                                    <div class="block-title">
                                        <span>Informacion del Cliente</span>
                                    </div>
                                    <div class="block-body">
                                        <div class="name">
                                            Nombre: @Html.DisplayFor(model => model.Apellidos) @Html.DisplayFor(model => model.Nombres)
                                        </div>
                                        <div class="email">
                                            Email: @Html.DisplayFor(model => model.Email)
                                        </div>
                                        <div class="phone">
                                            Telefono: @Html.DisplayFor(model => model.Telefono)
                                        </div>
                                        <div class="name">
                                            Documento: @Html.DisplayFor(model => model.NroDocumento)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shippinginfo span6">
                                <div class="block block-bordered">
                                    <div class="block-title">
                                        <span>Direccion de Envio</span>
                                    </div>
                                    <div class="block-body">
                                        <div class="name">
                                            Distrito: @Html.DisplayFor(model => model.Distrito)
                                        </div>
                                        <div class="name">
                                            Provincia: @Html.DisplayFor(model => model.Provincia)
                                        </div>
                                        <div class="name">
                                            Ciudad: @Html.DisplayFor(model => model.Ciudad)
                                        </div>
                                        <div class="address1">
                                            Direccion: @Html.DisplayFor(model => model.Direccion)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Confirmar" class="btn btn-primary pull-right" />
                }
            </div>
        </div>
    </div>
</div>

        

